# For further details, see
# https://docs.python.org/3/distutils/sourcedist.html#specifying-the-files-to-distribute

# INCLUDE IT ALL

# Docs
include *.md
include ChangeLog
include README*
include LICENSE

# Development Files & Test Suite
include make_devsetup.sh
include requirements.txt
include test_requirements.txt
include tox.ini

# Helper files for program itself
include src/sdsc/*.html
include src/sdsc/*.css

# Packaging
include packaging/suse-doc-style-checker.spec

# Docs
graft man

# Check Files & Validation & Test Suite
graft src/sdsc/xsl-checks
graft validation
graft tests


# REMOVE NONSENSE

prune man/build

# Why the fuck are the following included by default?
# There is no .py in these dirs, and these are referenced nowhere. It's great
# when Python's tools do what you want, except they never do -- instead they
# rely on magic and fairy dust that produces nonsense all the time.
prune experimental-checks
prune bookmarklet

global-exclude .bumpversion.cfg .cookiecutterrc .coveragerc .coverage .travis.yml
global-exclude *.py[cod] __pycache__ *.so *.dylib *~ *.bak *.gitignore *.doap 
