results {
  margin: 10px auto;
  max-width: 800px;
  font-family: sans-serif;
  background-color: #FFF;
  color: #333;
  line-height: 1.25em;
  display: block;
}

results-title {
  font-size: 25px;
  margin: 20px 10px;
  display: block;
}

result {
  border: none;
  margin: 10px 0;
  padding: 11px;
  background-color: #FFF;
  display: block;
  position: relative;
}

done {
  background-color: #590;
  display: block;
  height: 22px;
  width: 22px;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 11px;
}

done:after {
  content: '⚑';
  display: inline-block;
  color: #FFF;
  position: absolute;
  left: 4px;
  top: 3px;

}

result:hover done, result:focus done {
  left: 9px;
  top: 9px;
}

result:hover, result:focus {
  border: 1px solid #CCC;
  padding: 10px;
}

info:before, warning:before, error:before {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  line-height: 18px;
  width: 18px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  left: 0px;
  border: 1px solid transparent;
}

info:before {
  content: 'i';
  color: #FFF;
  background-color: #248;
}

warning:before {
  content: '?';
  background-color: #ED0;
}

error:before {
  content: '!';
  color: #FFF;
  background-color: #C00;
}

info, warning, error {
  font-size: 20px;
  display: block;
  padding-left: 25px;
  position: relative;
}

suggestion {
  font-size: 17px;
  display: block;
  padding-left: 40px;
  padding-right: 5px;
  position: relative;
}

suggestion:before {
  content: '–';
  position: absolute;
  left: 25px;
  display: inline-block;
}

result:hover suggestion {
  background-color: rgba(254,233,0,0.25);
}

suggestion:first-of-type {
  margin-top: 5px;
  padding-top: 5px;
}

suggestion:last-of-type {
  padding-bottom: 5px;
}

suggestion:first-of-type:last-of-type {
  padding-left: 25px;
}

suggestion:first-of-type:last-of-type:before {
  content: '';
}

id, withinid, em {
  font-style: italic;
}

withinid:before {
  content: 'in ';
  font-style: normal;
}

line:before {
  content: 'on line ';
  font-style: normal;
}

line:nth-child(2):before {
  content: ' on line ';
  font-style: normal;
}
place:before {
  content: ' (';
}

place:after {
  content: ') ';
}

name:before, quote:before {
  content: '“';
}

name:after, quote:after {
  content: '”';
}

tag:before {
  content: '<';
}

tag:after {
  content: '/>';
}
part {
  display: block;
  border-bottom: 1px solid #EEE;
}

part:last-child {
  display: block;
  border-bottom: none;
}
part-title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 10px 10px;
}