results {
  margin: 10px auto;
  max-width: 800px;
  font-family: sans-serif;
  background-color: #FFF;
  color: #333;
  line-height: 1.25em;
  display: block;
}

results-title {
  font-size: 25px;
  margin: 20px 10px;
  display: block;
}
result {
  border: none;
  margin: 10px 0;
  padding: 11px;
  background-color: #FFF;
  display: block;
}

result:hover, result:focus {
  background-color: #EEE;
  border: 1px solid #CCC;
  padding: 10px;
}

warning:before, info:before {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  line-height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  left: 0px;
}

warning:before {
  content: '!';
  color: #FFF;
  background-color: #C00;
}

info:before {
  content: 'i';
  background-color: #ED0;
}

warning, info {
  font-size: 20px;
  display: block;
  padding-left: 25px;
  position: relative;
}

expectation {
  font-size: 16px;
  display: block;
  padding-left: 25px;
}

part {
  display: block;
  border-bottom: 1px solid #EEE;
}

part:last-child {
  display: block;
  border-bottom: none;
}
part-title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 10px 10px;
}